    <footer class="footer mt-auto py-1 px-5 bg-light">
      <div class="float-start text-muted">
        &lt;&#47;&gt; with &hearts; by KC1AWV <b>&#124;</b> <a href="https://ko-fi.com/kc1awv"><img src="https://storage.ko-fi.com/cdn/brandasset/kofi_s_logo_nolabel.png" height="40px" />Support me on Ko-Fi</a>
      </div>
      <div class="float-end text-muted">
        IPv4: {{ .ipv4 }} <b>&#124;</b> IPv6: {{ .ipv6 }} Testing: ${ message }</div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  </body>

  <script>
    var previous = null;
    var current = null;
    setInterval(function() {
      // going to refresh once a minute if not triggered by status change
      // this resets every time page is loaded.
      location.reload();
    }, 60000);
    setInterval(function() {
        $.getJSON("/status", function(json) {
            current = json.lastmrefdupdate;            
            if (previous != null && previous !== current) {
                console.log('refresh');
                setTimeout(function() {
                  //delay is here to handle a race condition
                  location.reload();
                }, 5000);
            }
            previous = current;
        });                       
    }, {{ .refresh }} * 1000);   
</script>
<script>
    const { createApp } = Vue
  
    createApp({
      delimiters: ['${', '}'],
      data() {
        return {
          stations: [{name: "hi", callsign: "AB1CD"}]
        }
      }
    }).mount('#stations')

    createApp({
      delimiters: ['${', '}'],
      data() {
        return {
          message: 'Hello Vue!'
        }
      }
    }).mount('#app')
  </script>
</html>