{{ template "header.html" .}}
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-8">
            <table id="stations" class="table table-sm table-striped table-numbered">
              <thead>
                <tr>
                  <td><strong>#</strong></td>
                  <td><strong>Callsign</strong></td>
                  <td class="text-center"><strong>Suffix</strong></td>
                  <td><strong>Link / Peer</strong></td>
                  <td class="text-center"><strong>On Module</strong></td>
                  <td><strong>Last Heard</strong></td>
                </tr>
              </thead>
              <tbody style="font-family: monospace">
                <tr v-for="(station, index) in stationdata.stations">
                  <th scope="row"></th>
                  <td><a :href="`https://www.qrz.com/db/${ station.callsign }`" target="_blank">${ station.callsign }</td>
                  <td class="text-center">${ station.callsignsuffix }</td>
                  <td>${ station.vianode }</td>
                  <td class="text-center">${ station.onmodule }</td>
                  <td>${ station.lastheardlocal }</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="modules" class="col-sm-4">
            <table class="table">
              <thead>
                <th class="text-center">Modules in Use</th>
              </thead>
            </table>
            <div class="row">
              <div v-for="(module, index1) in moduledata" class="col-sm-6">
                <table class="table table-sm">
                  <thead>
                    <th>
                      ${ module.name }
                    </th>
                  </thead>
                  <tbody style="font-family: monospace">
                    <tr v-for="(callsign, index2) in module.callsigns">
                      <td>${ callsign }</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
      import { localTimeString } from '{{ .config.SubPath }}/static/utilities.js'

      const refreshTime = {{ .config.Refresh }} * 1000;

      // station stuff
      createApp({
          delimiters: ['${', '}'],
          data() {
              return {
                  stationdata: {},
                  timer: ''
              }
          },
          methods: {
            fetchStationsList () {
              $.getJSON('{{ .config.SubPath }}/json/stations', (stationdata) => {
                stationdata.stations.forEach(function(station, index) {
                  
                  station.lastheardlocal = localTimeString(station.lastheard)
                  stationdata.stations[index] = station     
                });
                this.stationdata = stationdata
              });
            },
          },
          mounted() {
              this.timer = setInterval(this.fetchStationsList, refreshTime)
              this.fetchStationsList()
          },
      }).mount('#stations')

      // modules stuff
      createApp({
          delimiters: ['${', '}'],
          data() {
              return {
                  moduledata: {},
                  timer: ''
              }
          },
          methods: {
              fetchModulesList () {
                  $.getJSON('{{ .config.SubPath }}/json/modulesinuse', (moduledata) => {
                      this.moduledata = moduledata
                  });
              },
          },
          mounted() {
              this.timer = setInterval(this.fetchModulesList, refreshTime)
              this.fetchModulesList()
          },
      }).mount('#modules')
    </script>
{{ template "footer.html" .}}