{{ template "header.html" .}}
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-8">
            <table id="stations" class="table table-striped table-numbered">
              <thead>
                <tr>
                  <td><strong>#</strong></td>
                  <td><strong>Callsign</strong></td>
                  <td><strong>Suffix</strong></td>
                  <td><strong>Link / Peer</strong></td>
                  <td><strong>On Module</strong></td>
                  <td><strong>Last Heard</strong></td>
                </tr>
              </thead>
              <tbody>
                    <tr v-for="(station, index) in stationdata.stations">
                      <th scope="row"></th>
                      <td><a :href="`https://www.qrz.com/db/${ station.callsign }`" target="_blank">${ station.callsign }</td>
                      <td>${ station.callsignsuffix }</td>
                      <td>${ station.linkpeer }</td>
                      <td>${ station.onmodule }</td>
                      <td>${ station.lastheard }</td>
                    </tr>
              </tbody>
            </table>
          </div>
          <div id="modules" class="col-sm-4">
            <table class="table">
              <thead>
                <th class="text-center">Modules in Use</th>
              </thead>
              <table v-for="(module, index1) in moduledata" class="table">
                <thead>
                  <th>
                    ${ module.name }
                  </th>
                </thead>
                <tbody>
                  <tr v-for="(callsign, index2) in module.callsigns">
                    <td>${ callsign }</td>
                  </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="/static/index.js"></script>
{{ template "footer.html" .}}