{{ template "header.html" .}}
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row justify-content-md-center">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td><strong>Callsign</strong></td>
                  <td><strong>IP Address</strong></td>
                  <td><strong>Linked Module</strong></td>
                  <td><strong>Protocol</strong></td>
                  <td><strong>Connect Time</strong></td>
                  <td><strong>Last Heard Time</strong></td>
                </tr>
              </thead>
              <tbody id="links" style="font-family: monospace">
                <tr v-for="(node, index) in linksdata">
                  <th scope="row">${ node.callsign }</th>
                  <td>${ node.ip }</td>
                  <td>${ node.linkedmodule }</td>
                  <td>${ node.protocol }</td>
                  <td>${ node.connecttimelocal }</td>
                  <td tooltip="${ node.lastheardtime }">${ node.lastheardtimelocal }</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </main>
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
      import { localTimeString } from '{{ .config.SubPath }}/static/utilities.js'

      const refreshTime = {{ .config.Refresh }} * 1000;

      // links stuff
      createApp({
        delimiters: ['${', '}'],
        data() {
          return {
              linksdata: [],
              timer: ''
          }
        },
        methods: {
          fetchLinksList () {
            $.getJSON('{{ .config.SubPath }}/json/links', (linksdata) => {
                linksdata.forEach(function(link, index) {
                  
                  link.connecttimelocal = localTimeString(link.connecttime)
                  link.lastheardtimelocal = localTimeString(link.lastheardtime)
                  linksdata[index] = link     
                });
                this.linksdata = linksdata
            });
          },
        },
        created() {
            this.timer = setInterval(this.fetchLinksList, refreshTime)
            this.fetchLinksList()
        },
      }).mount('#links')
    </script>
{{ template "footer.html" .}}