<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ .config.SubPath }}/">Reflector {{ range $k, $v := .info }}{{ $k }}{{end}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a {{ if eq .title "Last Heard" }}class="nav-link active" aria-current="page"{{ else }}class="nav-link"{{ end }} href="{{ .config.SubPath }}/">Home</a>
              <a {{ if eq .title "Links" }}class="nav-link active" aria-current="page"{{ else }}class="nav-link"{{ end }} href="{{ .config.SubPath }}/links">Links</a>
              <a {{ if eq .title "Peers" }}class="nav-link active" aria-current="page"{{ else }}class="nav-link"{{ end }} href="{{ .config.SubPath }}/peers">Peers</a>
            </div>
          </div>
          <div class="text-white text-end">mrefd Version: {{ range $k, $v := .info }}{{ index $v 0 }}{{end}} | Dashboard Version: {{ .version }}</div>
        </div>
      </nav>
    </header>