{{ template "header.html" .}}
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row justify-content-md-center">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td><strong>Callsign</strong></td>
                  <td><strong>IP Address</strong></td>
                  <td><strong>Linked Module</strong></td>
                  <td><strong>Connect Time</strong></td>
                  <td><strong>Last Heard Time</strong></td>
                </tr>
              </thead>
              <tbody id="peers" style="font-family: monospace">
                <tr v-for="(peer, index) in peersdata">
                  <th scope="row">${ peer.callsign }</th>
                  <td>${ peer.ip }</td>
                  <td>${ peer.linkedmodule }</td>
                  <td>${ peer.connecttime }</td>
                  <td>${ peer.lastheardtime }</td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </main>
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

const refreshTime = {{ .config.Refresh }} * 1000;

// peers stuff
createApp({
    delimiters: ['${', '}'],
    data() {
        return {
            peersdata: {},
            timer: ''
        }
    },
    methods: {
        fetchPeersList () {
            $.getJSON('{{ .config.SubPath }}/json/peers', (peersdata) => {
                this.peersdata = peersdata
            });
        },
    },
    mounted() {
        this.timer = setInterval(this.fetchPeersList, refreshTime)
        this.fetchPeersList()
    },
}).mount('#peers')
    </script>
{{ template "footer.html" .}}